*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f6faeb;
  color: #283618;
  width: 100%;
  font-family: 'Abel', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Bodoni Moda", Georgia, 'Times New Roman', Times, serif;
}

/* Mobile first  */

h2, h4 {
  color: #283618;
}

a {
  color: #283618;
  font-family: 'Abel', Arial, Helvetica, sans-serif;
}

a :hover {
  color:#704c5e;
}

header {
  background-color: #704c5e;
  background-image: url(../images/codioful-formerly-gradienta-EOeKdkusGZ4-unsplash.jpg);
  background-size: cover;
  margin: -0.25rem 0.5rem 0 0rem;
  padding: 1rem;
  width: 100%;
  height: 40vh;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
  z-index: 1;
  box-shadow: 0.2rem 0.25rem #2836187b;
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
  word-spacing: 0.5rem;
  text-shadow: 0.2rem 0.2rem #f1c5db;
  width: 60%;
}

.main-layout {
}

#sticky {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  background-color: #f1c5db;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: -1rem 0 0 0;
  padding: 1.5rem 1rem 1rem 1rem;
  position: sticky;
  top: 0;
  z-index: 0;
  font-size: 1.2rem;
  box-shadow: 0.2rem 0.25rem #2836187b;
}

nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.intro p{
font-family: "Bodoni Moda", Georgia, 'Times New Roman', Times, serif;
font-size: 1.5rem;
}


main{
  margin: 1rem 0;
}

section#portfolio {
  width: 100%;
  /* margin-top: -1.75rem; */
  display: grid;
  grid-template-columns: 1fr;
  /* background-color:#704c5e; */
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  /* box-shadow: 0.2rem 0.25rem #2836187b; */
  padding: 0.5rem;
  margin-bottom: 1rem;

}

.divider {
  width: 100%;
  /* padding: 0.5rem 0 0 0; */
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  /* background-color: #f1c5db66; */
  border-top: solid 1px #283618;
  border-bottom: solid 1px #283618;
  /* border-radius: 0.5rem;
}

.divider h2 {
  /* color: #f1c5db; */
  text-decoration: underline;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 0.1rem #283618;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0 0.25rem ;

}

.project-card img {
  width: 100%;
  height: auto;
  /* border-radius: 0.5rem; */
  padding: 0.25rem 0;
  border-top: solid 1px #283618;
  border-bottom: solid 1px #283618;
} 

.project-header {
  /* color: #f7f5dd; */
  text-decoration: underline;
}

.project-text {
  /* color: #f7f5dd; */
}





/* Desktop  */
@media only screen and (min-width: 700px) {
  header {
    width: 90%;
    margin: -0.25rem auto 0 auto;
  }

  #main-layout {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2rem auto 0 5%;
   }

  #sticky {
    align-items: center;
    justify-content: flex-start;
    width: 25vw;
    max-width: 40vw;
    margin-top: 0rem;
    border-radius: 1rem;
    position: sticky;
    left: 5%;
    top: 5vh;
    padding: 0.5rem;

  }
nav {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

main {
  padding: 1rem;
}

.divider h2 {
  margin: 0 auto;
}

#portfolio {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

#divider-portfolio {
  grid-column: 1/4;
  grid-row: 1/2;
}


}